<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <header>

    </header>

    <nav>
        <h2>MySite</h2>
        <ul>
            <li><a href=""></a>Home</li>
            <li><a href=""></a>About</li>
            <li><a href=""></a>Our Team</li>
            <li><a href=""></a>Work</li>
            <li><a href=""></a>Blog</li>
            <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href=""><i class="fas fa-search"></i></a></li>
        </ul>
    </nav>

    <section>
        <h1 class="titre" >STORY ABOUT US</h1>
        <p class="p-intro" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="container">
            <div class="img"><img src="img/img-1.jpg"></div>
            <div class="img"><img src="img/img-2.jpg"></div>
            <div class="img"><img src="img/img-3.jpg"></div>
        </div>

    </section>

    <section>
        <h4 class="titre-4">We work with</h4>
        <h1 class="titre" >AMAZING SERVICES</h1>
        <div class="container">
            <div class="block">
                <h2><i class="fas fa-camera-retro"></i> Photography</h2>
                <p>Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation</p>
            </div>
            <div class="block">
                <h2><i class="fas fa-object-group"></i> Web Design</h2>
                <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites.</p>
            </div>
            <div class="block">
                <h2><i class="far fa-lightbulb"></i> Creativity</h2>
                <p>Creativity is a phenomenon whereby something new and somehow valuable is formed. The created item may be intangible or a physical object.</p>
            </div>
            <div class="block">
                <h2><i class="fab fa-searchengin"></i> SEO</h2>
                <p>Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results.</p>
            </div>
            <div class="block">
                <h2><i class="fas fa-code"></i> Css/Html</h2>
                <p>HyperText Markup Language, commonly abbreviated as HTML, is the standard markup language used to create web pages.</p>
            </div>
            <div class="block">
                <h2><i class="far fa-gem"></i> digital</h2>
                <p>With digital signals, system noise, provided it is not too great, will not change the quantification whereas with signals handled using analog processing.</p>
            </div>
        </div>
    </section>

    <footer>
        Copyright &copy;2018
    </footer>
</body>
</html>